/**===================================================================

  Developed By: Samuel Ayela
  Company: Rocom Solutions
  Website: http://www.rocomsolutions.com/
  
\------------------------------------------------------------------**/

/** Page layout **/

#page{
  width: 100%;
  margin: 0 auto;
  padding:0;
  font-size: 14px;
  }

#container{
  width: 100%;
  padding:30px 0 0 0;
  margin:0 auto 60px auto;
  overflow:hidden;
  border-top:1px solid #fff;  
}

/** Header **/

#header-wrap{
  width: 100%;
  border-top:10px solid #E6E6E6;
  margin:0;  
  padding:0;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }

#header{
  width: 100%;
  clear:both;
  overflow:hidden;
  border-top:1px solid #fff;  
  }
  
#header .section{
  width: 960px;
  margin:0 auto;
  padding:15px 0;
  }  

#site-messages{
  width: 960px;
  margin:0 auto;
  padding:0;
  clear:both;
  }  
  
#header-blocks{
  clear: both;
  }
  
#logo{
  width:70px;
  margin:0 20px 0 0;
  padding:0;  
  float: left;
}

#logo img{
  width:70px;
  height:80px;
}

#site-details{
  width:520px;
  margin:0;
  margin-top:0;
  float:left;
} 

#header-right{
  width:330px;
  margin-top:8px;
  float:right;
}

/** Content layout **/

#content-wrap{
  margin: 0 auto;
  background: none;  
  width: 960px;
  padding:0;
  line-height:1.6em;
  clear:both;   
  }
 
.no-sidebars #content{
  width: 960px;
  padding:0;
  clear:both;
  margin: 0;
  }

#content .section{
  margin:0;
  padding:30px;
  line-height: 20pt;
  background:#EFEFEF;
  border:1px solid #bebebe;  
}
 
.front #content .section{
  margin:0;
  padding:0;
  line-height:0;
  background:none;
  border:none;  
}

.sidebar-first #content,
.sidebar-second #content{
  width: 610px;
  padding:0;
  float:left;
  }
 
.sidebar-second #content{
  margin-right:10px;
  }

.sidebar-first #content{
  margin-left:10px;
  }  
  
.sidebar-first #sidebar-first,
.sidebar-second  #sidebar-second{
  float: left;
  width: 340px;
  margin:0;
  padding: 0;
  }
  
.two-sidebars #content{
  width: 450px;
  float:left;
  margin:0;
  padding:0;
  float:left;
  }
  
.two-sidebars #sidebar-first{
  float: left;
  width: 200px;
  margin: 0;
  padding: 0;
  }

.two-sidebars #sidebar-second{
  float: left;
  width: 290px;
  margin:0;
  padding: 0;
  }

.two-sidebars #content{
  margin:0 10px;
  }  
  
.region-sidebar-first .content,
.region-sidebar-second .content{
  margin:0;
  padding:0px;
  font-size:12px;
  text-align:left;
 }

.region-sidebar-first .block,
.region-sidebar-second .block{
  margin-bottom:15px;
  padding: 0;
  } 

#sidebar-first .section,  
#sidebar-second .section{
  margin:0;
  padding:19px;
  line-height: 20pt;
  background:#EFEFEF;
  border:1px solid #bebebe!important;  
}  
  
/** Footer **/

#footer-wrap{
  width:100%;
  background:#1b1b1b;
  margin:0 auto;
  padding:0;
  clear: both;
  border-top:6px solid #BBBBBB;  
}

#footer{
  width:960px;
  margin:0 auto;
  padding:25px 0;  
  clear: both;
}